@page "/MovieDetails/{id:int}"
@inherits MovieDetailsBase

@if(MovieDetailsDto == null && ErrorMessage== null)
{
    <h1>Loading...</h1>
}
else if(ErrorMessage != null)
{
    <h1>@ErrorMessage</h1>
}
else
{
    <div class="movie-details">
        <h1 class="movie-title">@MovieDetailsDto.Name</h1>
        <hr />
        <p class="movie-description">@MovieDetailsDto.Description</p>
        <div class="info-container">
            <p class="movie-genre">@MovieDetailsDto.Genre.Name</p>
            <div class="detail-container">
                <p class="movie-info">@MovieDetailsDto.ReleaseDate.ToString("yyyy")</p>
                <p class ="movie-info"><span class="bullet-pnt"></span> @MovieDetailsDto.AgeRating</p>
                <p class="movie-info"><span class="bullet-pnt"></span> @MovieDetailsDto.MovieLength</p>
            </div>
        </div>
        <div class="poster-trailer-container">
            <img class="movie-poster" src="@MovieDetailsDto.ImageUrl" alt="@MovieDetailsDto.Name" />
            <iframe class="movie-trailer" src="@MovieDetailsDto.TrailerUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <button class="review-button"><a href="/Review/@MovieDetailsDto.Id">Review "@MovieDetailsDto.Name"</a></button>
    </div>
    <div class="review-container">
        <h1 class="title">Reviews</h1>
        @foreach(var item in MovieReviews)
        {
        <div class="review-card">
            <div class="review-card-top">
                <p class="review-title">@item.Title</p>
                <p class="movie-name">#@item.User.Username</p>
            </div>
            <div class="review-card-middle">
                <p class="review-rating">@item.Rating / 5</p>
                <p class="review-date">@item.CommentDate.ToString("yyyy-MM-dd")</p>
            </div>
            <div class="review-card-bottom">
                <p class="review-description">@item.Comment</p>
            </div>
        </div>
        }
    </div>
}