@page "/Review/{id:int}"
@inherits MovieDetailsBase


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Review Form</title>
</head>
@if (MovieDetailsDto == null && ErrorMessage == null)
{
    <h1>Loading...</h1>
}
else if (ErrorMessage != null)
{
    <h1>@ErrorMessage</h1>
}
else
{
    <div class="movie-details">
        <h1 class="movie-title">@MovieDetailsDto.Name</h1>
        <hr />
        <p class="movie-description">@MovieDetailsDto.Description</p>
        <div class="info-container">
            <p class="movie-genre">@MovieDetailsDto.Genre.Name</p>
            <div class="detail-container">
                <p class="movie-info">@MovieDetailsDto.ReleaseDate.ToString("yyyy")</p>
                <p class="movie-info"><span class="bullet-pnt"></span> @MovieDetailsDto.AgeRating</p>
                <p class="movie-info"><span class="bullet-pnt"></span> @MovieDetailsDto.MovieLength</p>
            </div>
        </div>
        <div class="poster-trailer-container">
            <img class="movie-poster" src="@MovieDetailsDto.ImageUrl" alt="@MovieDetailsDto.Name" />
            <iframe class="movie-trailer" src="@MovieDetailsDto.TrailerUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div>
            <a href="/Review/@MovieDetailsDto.Id" class="review-button">Review "@MovieDetailsDto.Name"</a>
        </div>
    </div>
    <div class="review-box">
        <h1 class="review-title"> Write a Review</h1>
        <div>
        <form>
            <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label for="star5">☆</label>
                    <input type="radio" id="star4" name="rating" value="4" />
                    <label for="star4">☆</label>
                    <input type="radio" id="star3" name="rating" value="3" />
                    <label for="star3">☆</label>
                    <input type="radio" id="star2" name="rating" value="2" />
                    <label for="star2">☆</label>
                    <input type="radio" id="star1" name="rating" value="1" />
                    <label for="star1">☆</label>
            </div>
                <input class="title-input" maxlength="30" type="text" name="title" placeholder="Title" required><br>
                <textarea class="review-input" maxlength="160" name="review" placeholder="Your Review" required></textarea><br>
            <button class="submit" type="submit">Submit</button>
        </form>
        </div>
    </div>
}




